<link href="__ADMIN__/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<body>

<div class="panel-body" style="padding-bottom:0px;">
    <div class="ibox-content " style="padding-bottom: 0">
        <form role="form" class="form-inline" onsubmit="return false;">
            <div class="form-group">
                <label class="row-sm-2 control-label">软件名称：</label>
                <input type="text" id="sname" class="form-control" placeholder="请输入软件名称">
                        <span class="form-group-btn">
							<button type="button" class="btn btn-primary" style="margin-bottom:0px"
                                    onclick="javascript:search()">搜索
                            </button>
						</span>
            </div>
            <div class="form-group">
                           <span class="form-group-btn">
                                  <button type="button" class="btn btn-primary" style="margin-bottom:0px"
                                          onclick="javascript:reload()">刷新
                                  </button>
                           </span>
            </div>
            <div class="form-group">
                           <span class="form-group-btn">
                                  <button type="button" class="btn btn-primary" style="margin-bottom:0px"
                                          onclick="javascript:addCard()">添加卡密
                                  </button>
                           </span>
            </div>
            <div class="form-group">
                           <span class="form-group-btn">
                                  <button type="button" class="btn btn-primary" style="margin-bottom:0px"
                                          onclick="javascript:exportCard()">导出卡密
                                  </button>
                           </span>
            </div>
        </form>
    </div>
    <table id="tb_departments"
           data-show-fullscreen="true"
           data-show-export="true"
            ></table>

</div>

<script>
    $(function () {
        var grid = {};
        var queryParamsArray = {};
        //1.初始化Table
        var oTable = new TableInit();
        oTable.Init();
        //2.初始化Button的点击事件
        var oButtonInit = new ButtonInit();
        oButtonInit.Init();
    });


    var TableInit = function () {

        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            grid = $('#tb_departments').bootstrapTable({
                url: '/admin/card/getCardList',         //请求后台的URL（*）
                method: 'get',                      //请求方式（*）
                toolbar: '#toobar',//工具列
                undefinedText: "无",
                striped: true,//隔行换色
                cache: false,//禁用缓存
                pagination: true,//启动分页
                sidePagination: 'server',//分页方式
                pageNumber: 1,//初始化table时显示的页码
                pageSize: 10,//每页条目
                showFooter: false,//是否显示列脚
                showPaginationSwitch: false,//是否显示 数据条数选择框
                sortable: false,//排序
                search: false,//启用搜索
                showColumns: false,//是否显示 内容列下拉框
                showRefresh: false,//显示刷新按钮
                idField: 'id',//key值栏位
                height: $(window).height() - 100, //自定义表格的高度
                //clickToSelect: true,//点击选中checkbox
                // singleSelect: true,//启用单行选中
                exportDataType: 'all',
                queryParams: oTableInit.queryParams,
                onLoadSuccess: function (data) {   //表格数据加载成功事件
                    rowCount = data.length - 1;
                    $("#datatable").bootstrapTable('hideRow', {index: rowCount});
                    $("#datatable td").attr("data-tableexport-msonumberformat", "\@");
                    $("#datatable tr").attr("data-tableexport-display", "always");
                },
                onPageChange: function (number, size) {  //表格翻页事件
                    $("#datatable").bootstrapTable('hideRow', {index: rowCount});
                    $("#datatable td").attr("data-tableexport-msonumberformat", "\@");
                    $("#datatable tr").attr("data-tableexport-display", "always");
                },
                showExport: true,  //是否显示导出按钮
                buttonsAlign: "right",  //按钮位置
                exportTypes: ['excel'],  //导出文件类型
                Icons: 'glyphicon-export',
                columns: [{
                    checkbox: true
                }, {
                    field: 'sname',
                    title: '所属软件',
                    align: 'center'
                }, {
                    field: 'card_no',
                    title: '充值卡号',
                    align: 'center',
                    formatter: function(value,row,index){
                        if(row.status == 1){
                            return '<span style="text-decoration:line-through;">'+value+'</span>';
                        }else{
                            return value;
                        }
                    }
                }, {
                    field: 'type',
                    title: '充值卡类型',
                    align: 'center',
                    formatter: function(value,row,index){
                        if(value===''||value===undefined){
                            return '-';
                        }
                        switch(value){
                            case 0:return '点卡'
                            case 1:return '分卡'
                            case 2:return '时卡'
                            case 3:return '天卡'
                            case 4:return '周卡'
                            case 5:return '月卡'
                            case 6:return '年卡'
                            default :return '-'
                        }
                    }
                }, {
                    field: 'card_value',
                    title: '卡值',
                    align: 'center'
                }, {
                    field: 'status',
                    title: '状态',
                    align : 'center',
                    formatter: function(value,row,index){
                        if(value===''||value ===undefined){
                            return '-';
                        }
                        if(value === 0){
                            return '未被使用';
                        }else if(value === 1){
                            return '已被使用';
                        }else{
                            return '已被封停';
                        }
                    }
                },{
                    field: 'sell',
                    title: '售卡状态',
                    align : 'center',
                    formatter: function(value,row,index){
                        if(value===''||value ===undefined){
                            return '-';
                        }
                        if(value === 0){
                            if(row.bid==0)
                                return '系统可售';
                            else
                                return '<span class="label label-primary">系统已售</span>';
                        }else if(value === 1){
                            return '用户自售';
                        }
                    }
                }, {
                    field: 'user_account',
                    title: '使用者账号',
                    align: 'center'
                }, {
                    field: 'user_account',
                    title: '备注',
                    align: 'center',
                    formatter: function(value,row,index) {
                        return value==null?"":beautySub(value,8);
                    }
                },{
                    field: 'add_time',
                    title: '创建时间',
                    align: 'center'
                },
                    {
                        field: 'alt',
                        title: '操作',
                        formatter : function(value,row,index){
                            var html = "";
                            if(row.status === 0) {
                                html = "<a onClick='javascript:stopUseCard("+index+","+row.id+",2)'>封停</a>&nbsp;&nbsp;&nbsp;";
                            }else if(row.status === 1){
                                html = "<a href='#'><span style='color:#999'>封停</span></a>&nbsp;&nbsp;&nbsp;";
                            }else{
                                html = "<a onClick='javascript:stopUseCard("+index+","+row.id+",0)'><span style='color:red'>解封</span></a>&nbsp;&nbsp;&nbsp;";
                            }
                            html = html + "<a onClick='javascript:deleteCard("+row.id+")'>删除</a>";
                            return html;
                        }
                    }]
            });
        };

        //得到查询的参数
        oTableInit.queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                limit: params.limit,   //页面大小
                offset: params.offset,  //页码
                sname: $("#sname").val()
            };
            return temp;
        };
        return oTableInit;
    };


    var ButtonInit = function () {
        var oInit = new Object();
        var postdata = {};

        oInit.Init = function () {
            //初始化页面上面的按钮事件
        };

        return oInit;
    };
    function reload() {
        grid.bootstrapTable('refresh');
    }
</script>

<!-- Bootstrap table -->
<script src="__ADMIN__/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__ADMIN__/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="__ADMIN__/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="__ADMIN__/js/plugins/layer/laydate/laydate.js"></script>
<script>

    function queryParams(params) {
        var resultParams = $.extend({}, params, oTableInit.queryParams);
        return resultParams;
    }

    function setQueryParams(key, value) {
        oTableInit.queryParams[key] = value;
    }
    function search() {
        $("#tb_departments").bootstrapTable("refreshOptions", {pageNumber: 1});
        reload();
    }
    //导出卡密页面
    function exportCard()
    {
        layer.open({
            type: 2,
            title: '{$user.username} - 导出卡密',
            shadeClose: true,
            shade: false,
            offset: '100px',
            area: ['800px', '450px'],
            content: ['/admin/card/exportCard.html', 'no']
        });
    }
    //添加用户
    function addCard() {
        layer.open({
            type: 2,
            title: '{$user.username} - 添加卡密',
            shadeClose: true,
            shade: false,
            offset: '100px',
            area: ['800px', '450px'],
            content: ['/admin/card/addCard.html', 'no']
        });
    }
    //编辑用户
    function ediType(id) {
        layer.open({
            type: 2,
            title: '{$user.username} - 卡类编辑',
            shadeClose: true,
            shade: false,
            offset: '100px',
            area: ['800px', '520px'],
            content: ['/admin/card/addType.html?id=' + id, 'no']
        });
    }
    //删除软件用户
    function deleteCard(id) {
        if (id == '') {
            layer.msg("卡类编号不能缺省");
        } else {
           layer.confirm("删除会导致相关数据不可恢复<br>您确定要删除该卡密吗？", {title: '温馨提示', formType: 1}, function (index) {
                $.ajax({
                    url: "/admin/card/deleteCard.html?id="+id,
                    type: "post",
                    dataType: "json",
                    data: "id=" + id,
                    success: function (data) {
                        if (data.code == 0) {
                            layer.msg(data.msg)
                            layer.close(index);
                            reload();
                        } else {
                            layer.msg(data.msg)
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.msg("系统在开小差，请稍后再试");
                    }
                });
            });
        }
    }
    //检测心跳时间,判断是否在线
    function checkOnline(date)
    {
        date = date.substring(0,19);
        date = date.replace(/-/g,'/');
        var timestamp = new Date(date).getTime()/1000;
        var now=new Date().getTime()/1000;
        return timestamp<(now-61);
    }
    function stopUseCard(index,id,status)
    {
        $.ajax({
            url:"/admin/card/updateCardStatus.html",
            type:"post",
            dataType:"json",
            data:"id="+id+"&status="+status,
            success:function(msg){
                if(parseInt(msg.code)==0){
                    //成功改变表格的操作内容
                    var rows = {
                        index : index,  //更新列所在行的索引
                        field : "status", //要更新列的field
                        value :parseInt(msg.status) //要更新列的数据
                    }//更新表格数据
                    $('#tb_departments').bootstrapTable("updateCell",rows);
                }else{
                    layer.msg(msg.msg, {icon: 5});
                }
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                showTip("系统在开小差，请稍后再试");
            }
        });



    }
    function beautySub(str, len) {
        var reg = /[\u4e00-\u9fa5]/g,    //专业匹配中文
                slice = str.substring(0, len),
                chineseCharNum = (~~(slice.match(reg) && slice.match(reg).length)),
                realen = slice.length * 2 - chineseCharNum;
        return str.substr(0, realen) + (realen < str.length ? "..." : "");
    }

</script>