
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 b-r">
                        <h3 class="m-t-none m-b">找回密码</h3>


                        <form role="form"  id="signupForm3">
                            <label>图片验证码：</label>
                            <div class="form-group form-inline">
                                <input type="text" placeholder="请输入图片验证码" class="form-control" style="width:200px;" name="captcha">
                                <img src="{:captcha_src()}" alt="captcha" style="width:130px;" onclick="this.src='captcha.html?'+Math.random() ">
                            </div>
                            <label>手机号：</label>
                            <div class="form-group form-inline">
                                <input type="text" placeholder="请输入手机号" class="form-control" style="width:200px;" name="phone">
                                <button data-toggle="button" class="btn btn-primary btn-outline active" type="button" aria-pressed="true" onclick="doSendMsg()">获取验证码</button>
                            </div>
                            <div class="form-group">
                                <label>验证码：</label>
                                <input type="text" placeholder="请输入包含iLo的短信验证码" class="form-control" name="code">
                            </div>
                            <div class="form-group">
                                <label>新密码：</label>
                                <input type="password" placeholder="请输入密码" class="form-control" name="password">
                            </div>
                            <div>
                                <button class="btn btn-primary col-md-offset-4 col-lg-offset-4col-xl-offset-4" type="submit" style="width:180px"><strong>找回密码</strong>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function doSendMsg(){
                phone=$("input[name='phone']").val()
                captcha=$("input[name='captcha']").val()
                if(phone.length!=11){alert("手机号格式不正确");return;}
                if(captcha.length!=4){alert("验证码长度不正确");return;}
                $.ajax({
                    type:'post',
                    url:'/admin/index/doSendMsg1.html',
                    data:{'phone':phone,'captcha':captcha},
                    cache:false,
                    dataType:'json',
                    success:function(data){
                        //请求成功
                        if(data.code<0){
                            alert(data.msg);
                        }else{
                            alert("短信发送成功");
                        }
                    },
                    error : function() {
                        // view("异常！");
                        alert("网络错误！");
                    }
                });
            }
        </script>