<body class="gray-bg">
<div class="row  border-bottom white-bg dashboard-header">
    <blockquote class="text-warning" style="font-size:14px">
        尊敬的开发者，欢迎使用网络验证系统V1.1<br/>
        官方QQ群:365011408 QQ：214783030
        <h3 class="text-success">
            免费！免费！免费！功能强大
            <br/>
            完美的版本控制,多开控制,灵活管理
            <br/>
            灵活,强加密，软件交易大厅,软件主页卡密出售
            <br />支持QQ,微信,支付宝购买卡密
            <br /> Web API接口支持任何语言调用
            <br />欢迎提供防破解思路，欢迎为系统编写其它语言例子，让本系统做的更好
            <br />官方网站:<a href="https://37ax.cn/" target="_blank">https://37ax.cn/</a>
        </h3>
        <a href="https://share.weiyun.com/5iJXDsw" target="_blank" class="label label-primary">下载易语言模块+例子</a>
    </blockquote>
    <div class="" id="ibox-content">
        <div id="vertical-timeline" class="vertical-container light-timeline">
            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg">
                    <i class="fa fa-file-text"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h2>更新</h2>
                    <p> 1.修复已知BUG<br/>
                        2.增加安装向导
                    </p>
                                            <span class="vertical-date">
                                        2019-05-28 <br>
                                        <small>02:00</small>
                                    </span>
                </div>
                <div class="vertical-timeline-content">
                    <h2>更新</h2>
                    <p>1.修复心跳包不检测用户是否到期<br />
                        2.添加扣时API接口<br />
                        3.删除模块防OD附加导致在windows server上的内存引起的奔溃问题<br />
                        4.添加驱动防破解模块与例子,注意:驱动没有源码,请自行测试,使用的SA云保护的驱动,测试结果,和强壳一起使用可以达到防破加免杀(自测,不保证)<br />
                    </p>
                                            <span class="vertical-date">
                                        2019-05-11 <br>
                                        <small>15:00</small>
                                    </span>
                </div>
            </div>
            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg">
                    <i class="fa fa-file-text"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h2>更新</h2>
                    <p>1.远程JS 长度限制问题<br />
                        2.远程JS 无法删除的问题<br />
                        3.修改远程js 远程变量 算法转发,调用必须用户登录状态<br />
                        4.封包时间校验,不得与服务器时间相差大于10秒<br />
                    </p>
                                            <span class="vertical-date">
                                        2019-05-10 <br>
                                        <small>19:50</small>
                                    </span>
                </div>
            </div>

            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg">
                    <i class="fa fa-file-text"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h2>发布</h2>
                    <p>1.0版本发布,功能强大,灵活管理,远程防破
                    </p>
                                            <span class="vertical-date">
                                        2019-05-08 <br>
                                        <small>03:00</small>
                                    </span>
                </div>
            </div>
        </div>

</div>
